@font-face {
    font-family: Logo;
    src:url("../font/3dumb.ttf") format("ttf");
    src:url("../font/3dumb.woff") format("woff");
    src:url("../font/3dumb.woff2") format("woff2");
}
@font-face {
    font-family: Banner;
    src:url("../font/RoundsBlack.ttf") format("ttf");
    src:url("../font/RoundsBlack.woff") format("woff");
    src:url("../font/RoundsBlack.woff2") format("woff2");
}
body {
    margin: 0;
    font-family: Aerial;
    background: whitesmoke;
}
header .top {
    display: flex;
    background: black;
    justify-content: space-between;
    padding: 15px;
    height: 50px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 80px;
    
}
.logo p {
    font-family: Logo;
    color: lightblue;
    font-size: 300%;
    display: flex;
    position: relative;
    bottom: 10px;
    right: 25px;     
}
.logo p span:last-child {
    font-family: Logo;
    color: pink;
}
header .top input {
    padding: 5px;
    border-radius: 5px;   
}
.search_b {
    background: black;
    color: whitesmoke;
}
.banner {
    background: url("../image/banner.png") no-repeat center center/cover;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    overflow: hidden;
    background-color: black;
    font-family: Banner;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.menu a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.xbox_m {
    float: left;
    overflow: hidden;
}
.xbox_m .xboxbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.menu_a:hover, .xbox_m:hover .xboxbtn {
    background-color: green;
    border-radius: 10px 10px 0 0;
}
.xbox_m_1 {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.xbox_m_1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.25s;
}
.xbox_m_1 a:hover {
    color: green;
    transform: scale(1.1);
}
.xbox_m:hover .xbox_m_1 {
    display: block;
    border-radius: 0 10px 10px 10px;
}
.play_m {
    float: left;
    overflow: hidden;
}
.play_m .playbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.menu_a:hover, .play_m:hover .playbtn {
    background-color: blue;
    border-radius: 10px 10px 0 0;
}
.play_m_1 {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.play_m_1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.25s;
}
.play_m_1 a:hover {
    color: blue;
    transform: scale(1.1);
}
.play_m:hover .play_m_1 {
    display: block;
    border-radius: 0 10px 10px 10px;
}
.nin_m {
    float: left;
    overflow: hidden;
}
.nin_m .ninbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.menu_a:hover, .nin_m:hover .ninbtn {
    background-color: red;
    border-radius: 10px 10px 0 0;
}
.nin_m_1 {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.nin_m_1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.25s;
}
.nin_m_1 a:hover {
    color: red;
    transform: scale(1.1);
}
.nin_m:hover .nin_m_1 {
    display: block;
    border-radius: 0 10px 10px 10px;
}
.menu > a:hover:first-child {
    color: lightblue;
}
.menu > a:hover:last-child {
    color: pink;
}