@font-face{
    font-family: KTF;
    src:url("../font/KTF.woff") format("woff"),
        url("../font/KTF.woff2") format("woff2"),
        url("../font/KTF.ttf") format("ttf");
}
@font-face{
    font-family: Volja;
    src:url("../font/Volja.otf") format("otf"),
        url("../font/Volja.woff2") format("woff2");
}
body {
    background-image: url("../image/background.jpg");
}
/* h1 {
    font-size: 50px;
    color: lightgrey;
    font-family: Volja;
    text-shadow: 2px 1px 0px green,4px 2px 0px #ecf00a, 6px 3px 0px red;
} */
h1 {
    font-size: 50px;
    color: #10c4b8;
    font-family: Volja;
    text-shadow: 1px 1px 1px #000, 1px 1px 10px #000;
}
ul.list li a {
    font-family: KTF;
    font-size: 50px;
    text-decoration: none; 
    color: #000;
}
ul.list li {
    list-style-type: none;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: #10c4b8;
    font-family: Volja;
    text-align:center;
    text-shadow: 1px 1px 1px #000, 1px 1px 10px #000;
}
.vmax {
    font-size: 5vmax;
}
.vmax2 {
    font-size: 2vmax;
}
fieldset legend {
    color: whitesmoke;
    text-shadow: 0px 0px 10px green;
    text-align: center;
    font-family: KTF;
}
fieldset label {
    color: whitesmoke;
    text-shadow: 0px 0px 10px green;
    font-family: KTF;
}
.mgame {
    text-align:center;
    font-size: 25px;
}
.canclick {
    color: whitesmoke;
    text-shadow: 0px 0px 10px green;
    text-align: center;
    font-family: KTF;
}