@font-face{
    font-family: KTF;
    src:url("../font/KTF.woff") format("woff"),
        url("../font/KTF.woff2") format("woff2"),
        url("../font/KTF.ttf") format("ttf");
}
@font-face{
    font-family: Volja;
    src:url("../font/Volja.otf") format("otf"),
        url("../font/Volja.woff2") format("woff2");
}
body {
    background-image: url("../image/background.jpg");
}
h1 {
    font-size: 50px;
    color: #10c4b8;
    font-family: Volja;
    text-shadow: 1px 1px 1px #000, 1px 1px 10px #000;
}
h2 {
    font-size: 20px;
    color: #10c4b8;
    font-family: Volja;
    text-align:center;
    text-shadow: 1px 1px 1px #000, 1px 1px 10px #000;
}
.vmax {
    font-size: 5vmax;
    text-align: center;
}
.vmax2 {
    font-size: 2vmax;
}
fieldset legend {
    color: whitesmoke;
    text-shadow: 0px 0px 10px green;
    text-align: center;
    font-family: KTF;
}
fieldset label {
    color: whitesmoke;
    text-shadow: 0px 0px 10px green;
    font-family: KTF;
}
/*MUSIC PAGE*/
.mgame {
    text-align:center;
    font-size: 25px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px 10px 3px green;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background: black;
}
.mgame form p input {
    font-family: KTF;
    color: whitesmoke;
    text-shadow: 0px 0px 10px green;
    background-color: grey;
}
.m_rates {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px 10px 3px green;
    border-radius: 10px;
    background: black;
}
/*CLICK ON PHOTO*/
.canclick {
    color: whitesmoke;
    text-shadow: 0px 0px 10px green;
    text-align: center;
    font-family: KTF;
}
.list {
    display: inline-block;
    margin: 0 auto;
    font-family: KTF;
    font-size: 30px;
    text-shadow: 1px 3px 1px #000,0px 0px 10px green;
    margin: 10px;
    padding :5px;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px green;
    background: black;
}
.list a {
    text-decoration: none;
    color: whitesmoke;
    border: 1px;
    border-radius: 10px;
}
.menu {
    text-align: center;
}
/*MY CONTACTS*/
.contacts_1{
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    position: relative;
    top: 100px;
    background: black;
}
.contacts_2{
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 20px;
    background: black;
}
/*VIDEO PAGE*/
.vid_1 {
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px 10px 0px green;
    border-radius: 10px;
    position: relative;
    height: 460px;
    width: 600px;
    margin: 0 auto;
    background: black;
}
.vid_2 {
    display: inline-block;
    position: absolute;
    width: 300px;
    top: 130px;
    left: 300px;
}
/*PICTURES*/
.pics {
    text-align: center;
}
.pics_1_2 {
    display: inline-block;
}
.pics_3_4 {
    display: inline-block;
}
.picture {
    border: 4px solid whitesmoke;
    box-shadow: 0px 0px 10px 0px green;
    margin: 5px;
    border-radius: 10px;
}
fieldset {
    background: black;
}